@mixin svg-dimensions { 
	.svg-facebook-dims { width: 29px; height: 28px; }
 	.svg-instagram-dims { width: 29px; height: 28px; } 
	.svg-mail-dims { width: 24px; height: 24px; }
 	.svg-phone-dims { width: 24px; height: 24px; }
}